body {
    margin: 0%;
    background-color: #e5d3e6;
    font-family: Roboto;
    transition: background-color 0.2s;
}

pre {
    display: inline;
}

.main-view-wrapper {
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    width: 100%;
    display: flex;
    flex-flow: row rtl wrap;
    justify-content: center;
    align-items: center;
}

.project-view {
    width: 40%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.special-text {
    color:  #ff8e8e;
    font-weight: 900;
}

.purple {
    background-color: #b37aff;
}

.red {
    background-color: #ff8e8e;
}

.blue {
    background-color: #6dc5ff;
}

.yellow {
    background-color: #ffd153;
}

.shadow {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.project-box {
    display: flex;
    border-radius: 20px;
    height: 125px;
    width: 100%;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    color: white;
    transform: scale(1);
    transition: transform .14s, opacity 0.2s;
    cursor: pointer;
} 

.faded {
    opacity: 0.4;
    transform: scale(0.95);
}

.project-box:hover {
    transform: scale(1.02);
}

.project-box:active {
    transform: scale(1);
}

.project-box-title {
    font-size: 23px;
    font-weight: 900;
    margin: 0% 10% 0% 0%;
    display: none;
}

.project-box-description {
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    margin: 0% 5% 10% 5%;
    display: none;
}

.project-box svg {
    margin: 10px;
    height: 60%;
    width: auto;
}

.project-info-view {
    width: 60%;
    height: auto;
    padding: 40px;
    margin: 25px;
    background-color: white;
    border-color: white;
    border-radius: 20px;
    display: none;
    min-height: 480px;
}

.project-info-view-shown {
    display: block;
}

.project-info-view-header {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.project-info-title {
    margin-top: 0%;
    font-size: 29px;
    font-weight: 900;
    color: black;
    margin-bottom: 1%;
}

.project-info-title-small {
    margin-top: 0%;
    font-size: 22px;
    font-weight: 900;
    color: black;
    margin-bottom: 1%;
}

.main-view-wrapper a {
    color: #6D6D6D;
    font-weight: 900;
    text-decoration: none;
}

.main-view-wrapper a:hover {
    color: black;
    font-weight: 900;
    text-decoration: none;
}


.project-github-link {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;   
    text-decoration: none;
    color: #6D6D6D;
    font-weight: 900;
    padding: 2%;
    stroke: #6D6D6D;
    fill: none;
}

.project-github-link svg {
    padding-left: 5px;
    display: inline;
}

.project-github-link:hover {
    color: black;
    stroke: black;
}

.project-info-text {
    color: black;
    font-weight: 300;
    margin-top: 5px;
    margin-bottom: 8px;
    font-size: 16px;
}

.project-info-text-large {
    color: black;
    font-weight: 300;
    margin-top: 5px;
    margin-bottom: 8px;
    font-size: 20px;
}

.project-info-code {
    color: #6D6D6D;
    background: #ECECEC;
    padding: 6px;
    border-radius: 4px;
    font-weight: 900;
    display: inline-block;
}

.project-info-img {
    padding-right: 8px;
    float: left;
    border-radius: 4px;
    width: 60%;
}

.other-platforms {
    padding: 20px;
    display: flex;
    flex: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

.other-platforms a {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.other-platforms p {
    font-size: 20px;
    font-weight: 300;
    margin: 6px;
}

.other-platforms svg {
    width: 25px;
    height: 25px;
}

.main-view-wrapper-m {
    display: none;
    text-decoration: none;
}