body {
    margin: 0%;
    background-color: white;
    font-family: Roboto;
    transition: background-color 0.2s;
}

.main-view-wrapper {
    display: none;
}

.main-view-wrapper-m {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
}

.purple {
    background-color: #b37aff;
}

.red {
    background-color: #ff8e8e;
    color: white;
}

.blue {
    background-color: #6dc5ff;
}

.yellow {
    background-color: #ffd153;
}

.white {
    background-color: white;
    color: black;
}

.m-section {
    padding: 5% 10% 5% 10%;
}

.m-section-title {
    font-weight: 900;
    font-size: 36px;
}

.m-section-text-normal {
    font-weight: 400;
    font-size: 28px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.other-platforms a {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.other-platforms p {
    color: black;
    font-size: 26px;
    font-weight: 300;
}

.other-platforms svg {
    width: 25px;
    height: 25px;
}

