body {
    margin: 0%;
    background-color: #e2edff;
}

.main-view-wrapper {
    width: 75%;
    margin-left: 12.5%;
    margin-right: 12.5%;
    border: 1px solid black;
    display: flex;
    flex-flow: row rtl wrap;
    justify-content: center;
    align-items: center;
}

.project-view {
    width: 50%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.project-box {
    display: flex;
    font-family: Roboto;
    width: 44%;
    border: 1px solid red;
    margin: 2.5%;
}

.project-info-view {
    display: flex;
    font-family: Roboto;
    width: 50%;
    border: 1px solid red;
}