{
  "env": {
    "development": {
      "presets": ["next/babel"],
      "plugins": [
        [
          "styled-components",
          { "ssr": true }
        ],
        "inline-react-svg"
      ]
    },
    "production": {
      "presets": ["next/babel"],
      "plugins": [
        [
          "styled-components",
          { "ssr": true }
        ],
        "inline-react-svg"
      ]
    }
  },
  "plugins": [
    [
      "styled-components",
      { "ssr": true }
    ],
    "inline-react-svg"
  ]
}