.games-entry-no-padding {
    padding: 0px !important;
}

.games-entry-no-padding > figure {
    margin-bottom: 0px !important;
}

.games-entry-no-padding > figure > img {
    border-radius: 0px !important;
}