.articles {
    border-spacing: 2px 8px;
}

.articletitle {
    font-size: 16px;
    font-weight: 400;
    color: rgb(172, 187, 255);
}

.articledate {
    font-size: 16px;
    font-weight: 700;
    color: rgb(255, 255, 255);
}

.articletitle a {
    color: inherit;
}