.container {
    display: flex;
    justify-content: center;
}

.content {
    padding-top: 20px;
    min-height: calc(82vh - 20px);
    position: relative;
    width: 750px;
}

.content .section {
    padding: 12px;
}

.content .section input[type="text"] {
    width: 60%;
    background-color: #e2e2e2;
    border: 0.5px solid #b1b1b1;
    border-radius: 10px;
    padding: 10px;
}

.content .section input[type="text"]:focus {
    width: 60%;
    border: 0.5px solid #b1b1b1;
    border-radius: 10px;
    padding: 10px;
}

.content .section h2 {
    font-size: 32px;
    margin: 0;
    padding: 0;
    margin-bottom: 8px;
}

.articlepreviewlink {
    text-decoration: none;
    color: #000000;
}

.articlepreviewlink:hover {
    color: #000000 !important;
}

.articlepreview {
    padding: 5px;
}

.articlepreview:hover {
    background-color: #e2e2e2;
}

.articlepreview div {
    display: flex;
    align-items: center;
}

.articlepreview h3 {
    font-size: 22px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

.articlepreview span {
    margin-right: 5px;
    font-size: 16px;
    font-weight: 200;
}

.tagblob {
    user-select: none;
    cursor: pointer;
    transition: opacity 0.2s;
    padding: 1px 3px 1px 3px;
    border-radius: 5px;
    font-size: 14px !important;
    font-weight: 400 !important;
    margin-right: 5px;
}

.content header {
    width: 100%;
}

.content header a {
    color: black;
    text-decoration: underline;
}

.content header a:hover {
    color: #408080;
}

.content header h1 {
    font-size: 42px;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

.maillink {
    display: flex;
    margin-right: 10px;
}

.content header h2 {
    display: inline;
    font-size: 20px;
    font-weight: 300;
    margin: 0;
    padding: 0;
    margin-right: 10px;
}

.content article {
    line-height: 1.8rem;
    font-size: 20px;
    width: 100%;
}

.articleimg {
    padding: 20px;
    width: 40%;
    float: right;
    display: inline;
}

.articleimg img {
    width: 100%;
}

.content header div {
    display: flex;
    align-items: center;
}

.tagscontainer {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.markdowncontent {
    height: max(100vh, 100%);
    display: inline;
}

.markdowncontent a {
    font-weight: 500;
    color: black;
    text-decoration: underline;
}

.markdowncontent a:hover {
    color: #408080;
}

.markdowncontent p {
    margin-top: 20px;
    margin-bottom: 20px;
}

.markdowncontent h3 {
    margin-block-start: 1rem;
    margin-block-end: 1rem;
}

.markdowncontent h4 {
    margin-block-start: 1rem;
    margin-block-end: 1rem;
}