.container {
    font-size: 18px;
}

.event {
    margin-bottom: 5px;
    font-size: 16px;
}

.eventdate {
    display: inline-block;
    margin: 0;
    padding: 0;
    padding-right: 4px;
    font-weight: 700;
    font-size: inherit;
    min-width: fit-content;
}

.event a {
    text-decoration: underline;
    font-weight: 500;
    color: #000000;
}