.container {
    font-size: 1.7vw;
}

.event {
    margin-bottom: 5px;
    font-size: 1.3vw;
    font-weight: 300;
}

.eventdate {
    display: inline-block;
    margin: 0;
    padding: 0;
    padding-right: 4px;
    font-weight: 400;
    font-size: inherit;
    min-width: fit-content;
}

.event a {
    text-decoration: underline;
    font-weight: 400;
    color: #000000;
}

@media only screen and (max-width: 750px) {
    .container {
        font-size: 2.8vw;
    }
    
    .event:nth-child(n + 4) {
        display: none;
    }

    .event {
        margin-bottom: 5px;
        font-size: 3.2vw;
        font-weight: 300;
    }
    
    .eventdate {
        display: inline-block;
        margin: 0;
        padding: 0;
        padding-right: 4px;
        font-weight: 400;
        font-size: inherit;
        min-width: fit-content;
    }
    
    .event a {
        text-decoration: underline;
        font-weight: 400;
        color: #000000;
    }
}