.articles {
    border-spacing: 2px 8px;
}

.articletitle {
    font-size: 1.1vw;
    font-weight: 300;
    color: black;
}

.articledate {
    vertical-align: top;
    font-size: 1.1vw;
    font-weight: 400;
    color: black;
}

.articletitle a {
    color: inherit;
}

@media only screen and (max-width: 750px) {
    .articles {
        border-spacing: 2px 8px;
    }

    .articlerow:nth-child(n + 4) {
        display: none;
    }
    
    .articletitle {
        font-size: 3.2vw;
        font-weight: 300;
        color: black;
    }
    
    .articledate {
        vertical-align: top;
        font-size: 3.2vw;
        font-weight: 400;
        color: black;
    }
    
    .articletitle a {
        color: inherit;
    }
}