.link {
    margin: 2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
}

.link a {
    color: #4B4B4B;
    text-decoration: none;
}

.underlined {
    text-decoration: underline;
}