.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 80vh;
  padding-left: 5%;
  padding-right: 5%;
}

.third {
  width: 30%;
}

.intro h3 {
  margin-top: 0;
  font-size: 64px;
  font-weight: 700;
}

.intro p {
  font-size: 36px;
}

.profilepic {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profilepic div {
  height: fit-content;
  width: fit-content;
}

.feedcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.feed {
  font-size: 20px;
  width: 100%;
}