.articles {
    border-spacing: 2px 8px;
}

.articletitle {
    font-size: 16px;
    font-weight: 500;
    color: black;
}

.articledate {
    font-size: 16px;
    font-weight: 700;
    color: black;
}

.articletitle a {
    color: inherit;
}