.layout {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.header {
    width: 100%;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100000;
    height: 15vh;
}

.header nav {
    height: 100%;
    width: 40%;
    justify-content:space-evenly;
    align-items: center;
    display: flex;
    z-index: 100000;
}

.header nav span {
    min-width: fit-content;
}

.header a {
    text-decoration: none;
    min-width: fit-content;
}

.header h1 {
    margin-left: 3.2rem;
    min-width: fit-content;
    font-weight: 600;
    font-size: 64px;
    z-index: 100000;
    color: black;
    text-decoration: none;
}

.links {
    display: flex;
    margin: 0% 5% 0% 5%;
}

.links svg {
    padding: 0.5rem;
}

.links a {
    color: black;
}