.link {
    margin: 2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.6rem;
}

.link a {
    color: white;
    text-decoration: none;
}

.underlined {
    text-decoration: underline;
}